<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
    .edit {
	color: #FFC107;
}
.delete {
	color: #F44336;
}
</style>


<div class="container">
    <div class="row">
<div class="col-md-8" >
    <h2> &nbsp;    Detail du <b  >client : {{list[0].client.nom}} {{list[0].client.prenom}}</b></h2>
</div>

<!--[value]="nom" #x-->
<div class="container">
 	
    <div class="row">
            <div class="col-md-12">

<br><br>
                <table class="table table-bordered" style="color: #858796;font-weight: bold;white-space: inherit;" cellspacing="0">
                    <thead class="thead-light">

						<tr >
							<th><span>id Facture</span></th>
                            <th><span>montantRemise</span></th>
							<th><span>montant Facture</span></th>
							<th><span>dateFacture</span></th>
							
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let u of list ;">
							
							<td>
                                
                                {{u.idFacture}}							
                            </td>
                            <td>
                                
                                {{u.montantRemise}}
                               </td>
                               <td>
                                
                                {{u.montantFacture}}
                               </td>
                               <td>
                                
                                {{u.dateFacture}}
                               </td>
                               
						</tr>
						
					</tbody>
                   
				</table>
                <div class="invoice-price">
                    <div class="invoice-price-left">
                       <div class="invoice-price-row">
                          <div class="sub-price">
                             
                             <span class="text-inverse">Total depensé</span>
                          </div>
                         
                    
                       </div>
                    </div>
                    <div class="invoice-price-right">
                       <small>TOTAL</small> <span class="f-w-600">${{total}}</span>
                    </div>
                 </div>
             

</div> 


</div>
</div>
